<!--
 * @fileoverview The angular html template for the 'Luppino fresh' website
 * @author Anton Sidorov
 * @copyright(c) 2017 Anton Sidorov
 * @license MIT
 * @version 0.0.1
 * @description
 * 
 * .sale-items - a floating section that contains items that are on sale (if there are any)
 *    tr *ngFor - template for each table row for each of saleItems
 * 
 * .right-widgets - right floating (absolute pos.) section with Add a new Item section, Add a new category and Category table
 *    Add item/category - All textboxes are bound to their respective values, on click of the button, the addCategory() and addItem() functions are called
 * 
 * mid h2 - Shows a summary of the info to the shop owner
 * 
 * .search - the search textbox with databinding to the search string
 * 
 * the following table contains the items display
 *    in the thead, the headers are generated based on the headers array, and their icon is chosen based on the boolean conditions 
 *    in the tbody, a table row is generated for each filteredItem, and it's name, category.name, originalPrice/displayPrice/savingsFormatted (if applicable) are displayed
 -->
<h1>Luppino Fresh</h1>

<div class='sale-items' *ngIf='saleItems().length > 0'>
  <h2>Items on sale</h2>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Original price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of saleItems()'>
        <td>{{item.name}}</td>
        <td>${{item.displayPrice()}}</td>
        <td>${{item.originalPrice | priceFormat}}</td>
      </tr>
    </tbody>
  </table>

</div>

<div class="right-widgets">
  <div class='add-item'>
    <h3>Add a new Item</h3>
    <antsui-textbox class='no-margin' label="Name" name="itemname" [(ngModel)]="newItem.name"></antsui-textbox>
    <div class='row'>
      <label for='category' class='row-left'>Item Category</label>
      <select id='category' [(ngModel)]='newItem.category' class='row-right'>
         <option *ngFor='let category of categories()' [ngValue]="category">{{category.name}}</option>
     </select>
    </div>
    <div class='row'>
      <label for='price' class='row-left'>Price</label>
      <antsui-number id='price' class='inline row-right' [(ngModel)]='newItem.originalPrice' [min]='0.01' [max]='50000'></antsui-number>
    </div>
    <div class='row'>
      <label for='price' class='row-left'>Discount (%)</label>
      <antsui-number id='price' class='inline row-right' [(ngModel)]='newItem.discount' [min]='0' [max]='99'></antsui-number>
    </div>
    <a class='au-btn au-success btn-sm btn-full' (click)='addItem()'>Add {{newItem.name}}</a>
  </div>
  <div class='add-category'>
    <h3>Add a new category</h3>
    <antsui-textbox label='Category name' class='no-margin' [(ngModel)]='newCategory'></antsui-textbox>
    <a class='au-btn au-success btn-sm btn-full' (click)='addCategory()'>Add new category</a>
  </div>
  <table>
    <thead>
      <tr>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let category of categories()'>
        <td>{{category.name}}</td>
      </tr>
    </tbody>
  </table>
</div>


<h2>Hi Spiros! Today we have {{items.length}} products, out of which {{saleItems().length}} are on sale</h2>
<div class='search'>
  <antsui-textbox class='no-margin' label="Search" name="search" [(ngModel)]="search"></antsui-textbox>
</div>
<table>
  <thead>
    <tr>
      <th *ngFor='let header of headers' (click)='sort(header)'>{{header.title}} <span *ngIf='items.length > 0' class='fa fa-fw' [class.fa-sort-asc]='header.sort == 0' [class.fa-sort]='header.sort == -1'
          [class.fa-sort-desc]='header.sort == 1'></span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let item of filteredItems()'>
      <td>
        <antsui-inline-edit [(ngModel)]="item.name" (onSave)="saveName($event)"></antsui-inline-edit>
      </td>
    <td>{{item.category.name}}</td>
      <td>
        <p *ngIf='item.savings() > 0' class='striked inline text-danger'>${{item.originalPrice | priceFormat}}</p>${{item.displayPrice()}}
        <p *ngIf='item.savings() > 0' class='discount inline text-success'>(${{item.savingsFormatted()}}/kg discount)</p>
        <div class='float-right'><span class='fa fa-fw fa-times' (click)='deleteItem(item)'></span></div>
      </td>
    </tr>
    <tr *ngIf='filteredItems().length == 0'>
      <td colspan="3">We have no products at the moment, add some below!</td>
    </tr>
  </tbody>
</table>
