$base-color: #fff;
$accent-color: #09f;
$success-color: #00c351;
$warning-color: #fbc02d;
$danger-color: #e33;

$box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.14),
0 0.375rem 0.125rem -0.3125rem rgba(0, 0, 0, 0.2),
0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.12);


// WHITES FOR UI ($base-color variations)
// $base-color is the base, duh
// darken-2
$base-darken-1: darken($base-color, 4%);
$base-darken-2: darken($base-color, 7%);
$base-darken-3: darken($base-color, 10%);
$base-darken-4: darken($base-color, 14%);
$base-darken-5: darken($base-color, 17%);
$base-darken-6: darken($base-color, 21%);
$base-darken-7: darken($base-color, 28%);
$base-darken-8: darken($base-color, 35%);
$base-darken-9: darken($base-color, 49%);
$base-darken-10: darken($base-color, 70%);
$base-dark: darken($base-color, 100%);