/* You can add global styles to this file, and also import other style files */

@import '_settings.scss';
@import '../node_modules/antsui/dist/src/scss/antui.scss';
.text-right {
    text-align: right;
}

* {
    transition: all .28s ease-in-out;
}

h1 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0;
}

h3 {
    font-size: 1.25 rem;
    font-weight: 400;
    text-align: center;
}

.btn-sm {
    font-size: .8rem;
    padding: .125rem .5rem;
}

.btn-full {
    width: 100%;
    box-sizing: border-box;
}

body {
    text-align: center;
}

.text-danger {
    color: $danger-color;
}

.text-success {
    color: $success-color;
}

.inline {
    display: inline-block;
}

.float-right {
    position: absolute;
    top: .5rem;
    right: .5rem;
    text-align: left;
}

.striked {
    text-decoration: line-through;
    display: inline-block;
    margin-right: .5rem;
}

.search {
    width: 50rem;
    margin: auto;
    text-align: left;
}

.sale-items {
    position: absolute;
    left: 1rem;
    top: 8rem;
    table {
        width: 17.5rem;
        font-size: .75rem;
        thead tr th {
            background-color: $danger-color;
        }
    }
}

.right-widgets {
    text-align: left;
    position: absolute;
    right: 1rem;
    top: 12rem;
    width: 17.5rem;
    font-size: .8rem;
    table {
        width: 100%;
        box-sizing: border-box;
    }
}

.fa-times {
    color: $danger-color;
    &:hover {
        color: darken($danger-color, 20%);
    }
    &:active {
        color: darken($danger-color, 30%);
    }
}

.add-category {
    margin-bottom: 3rem;
}

.add-item {
    text-align: left;
    margin-bottom: 2rem;
    .row {
        display: flex;
        height: 2rem;
        margin-bottom: 1rem;
        .row-right {
            text-align: right;
            flex: 0 0 50%;
            .au-number-input {
                width: 6rem;
            }
        }
        .row-left {
            vertical-align: middle;
            line-height: 2rem;
            flex: 0 0 50%;
        }
        select {
            height: 2rem;
        }
    }
}

table {
    width: 50rem;
    margin: auto;
    td{
        position:relative;
    }
    td,
    th {
        text-align: left;
        padding: .5rem;
    }
    th {
        background-color: $accent-color;
        color: white;
        border-color: $accent-color;
        border-collapse: collapse;
    }
    &,
    td {
        border: 1px solid $base-darken-4;
        border-collapse: collapse;
    }
    tr {
        &:nth-child(even) {
            background: $base-darken-1;
        }
        &:hover {
            background: $base-darken-3;
        }
    }
}